* {
    margin: 0;
    padding: 0;
}

:root {
    
    --bg-danger:#f63440;
    --bg-white:#fff;
    --bg-light-white:#f5f5f5;

    /* Text Color */
    --primary-font: ;
    --text-white : #fff;
    --text-black : #f63440;
    --text-danger : #000000;
    --text-gray:#aaa;
    --text-dark-gray:#777;

}

body{
    font-family: var(--primary-font);
    font-size:1rem;
    font-weight:400;
    line-height:1.75rem;
    background:var(--bg-white);
    color:var(--text-black);
    overflow-x:hidden;
}

/* Custom CSS*/
a,
a:hover{
    text-decoration: none;

}
p{
    margin:0;
    font-family:  Lato, 'sans-serif' ;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1rem;

}
body h5{
    font-family:  Lato, 'Montserrat', 'sans-serif' ;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1rem;
    padding-bottom: 10px;
}
#head .navbar-toggler:focus{
    box-shadow:none;
}
#head .navbar-toggler{
    border: none;
}

.home .btn-danger{
    background: var(--bg-danger);
    border-color:var(--bg-danger);
    padding:0.5rem 1rem;
    font-size:0.8rem;
    font-weight:500;

}
.home .btn-danger:hover{
    color:var(--bg-danger);
    background:transparent;
}

/* Navigation CSS*/
 #head .nav-link{
    color: var(--text-white);
    padding : 0.5rem 1rem;
    text-align : center;
}
 #head .nav-link:hover,
 #head .nav-link.active{
    color:var(--bg-danger)
}
/* slide css*/
.home .home-banner-1,
.home .home-banner-2,
.home .home-banner-3{
    background-repeat : no-repeat;
    background-size :cover;
    background-position : 100% center;
    min-height : 340px;
    position: relative;
}
.home .home-banner-1{
    background-image: url('../IMAGE/engineering.jpg');
    

}

.home .home-banner-2{
    background-image: url('../IMAGE/project.jpg');
}

.home .home-banner-3{
    background-image: url('../IMAGE/join.jpg');
}

.home .home-banner-text{
    position:absolute;
    padding: 5% 15%;
    color:var(--bg-white);
    background-color: rgb(0, 0, 2);
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.815),rgba(39, 43, 99, 0.356));
    width: 100%;
    height: 100%;
}
.home .home-banner .home-banner-text h1{
    font-size: 2.5rem;
}

/* heading css*/
.headline h3::before{
    content:'';
    width: 40%;
    height:0.150rem;
    background-color:var(--bg-danger);
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 0.625rem;
}
/* card css*/
.album .card{
    border-radius: 2%;
}

.album .card-text{
    color:#030303a2;
    font-weight: 50;
}
.album .card:hover{
    box-shadow: rgb(0 0 0 / 9%) 0 3px 20px !important;
    transform: translate3d(0, -1px, 0);
}
.album .btn:hover{
    background:transparent ;
    color: rgb(0, 0, 0);
    border: none;
}
.box-shadow{
   box-shadow: 0px 2px 20px rgba(0, 0,1, 0.2);
}

.card-body a{
    text-decoration: none;
    color: #000000;
    font-fam;
}
.card-body a:hover{
    text-decoration: none;
    color: #000000;
    font-fam;
}
/* footer Css */

.footer{
    background-color: #212529;
    color: rgb(196, 188, 188);
    padding: 3% 5%;
    text-decoration: none;
    
}